# All blacklisted
*

# DIRs whitelisted
!rust/
!rust/**/
!python/
!python/**/
!tests/
!tests/**/

# TYPEs whitelist
!**/*.rs
!**/*.py
!**/*.pyi
!**/*.md
!**/*.yml
!**/*.txt
!**/*.toml
!**/*.typed

# BLACKLIST specific dirs
**/.*/
**/__pycache__/

# WHITELIST wheel yml
!.github/
!.github/**/

# FILEs whitelisted
!README.md
!.gitignore
!LICENSE
